*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.2rem;
}

/*header style*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container-menu{
    display: flex;
    align-items: center;
}

header ul{
    list-style-type: none;
}

header li{
    display: inline;
    margin-top: 3px;
}

header a{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.left-menu li{
    margin-left: 30px;
}

.right-menu li{
    margin-right: 30px;
}

header button{
    background-color: #0061ff;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
}

/*sention 1 style*/

.section-1{
    background-color: #b4d0e7;
}

.container-section-1{
    max-width: 1000px;
    margin: 0 auto;
}

.section-1 h1{
    font-size: 4.5rem;
    padding-top: 70px;
    padding-bottom: 40px;
}

.section-1-subtitles{
    max-width: 34%;
    position: relative;
}

.section-1 button{
    background-color: #0061ff;
    color: #ffffff;
    padding: 10px 15px;
    margin: 25px 0;
    border: none;
}

.section-1 i{
    margin-top: 40px;
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.section-1 img{
    width: 200%;
    position: absolute;
    top: 0;
    left: 320px;
}

/*section plans style*/

.container-section-plans{
    max-width: 900px;
    margin: 0 auto;
}

.section-plans h2{
    margin-top: 100px;
    margin-bottom: 45px;
}

.section-plans .billing-selector{
    display: inline;
    margin-right: 50px;
}

.container-plan{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.plan{
    width: 33%;
    border: 1px solid #697893;
    margin-top: 50px;
    padding-bottom: 25px;
}

.plan>*:not(.plan-title){
    margin-left: 30px;
    margin-right: 15px;
}

.plan-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #697893;
    padding-right: 30px;
}

.plan h3 ,
.plan-team-enterprice h3{
    padding-top: 30px;
    padding-bottom: 10px;
}

.plan-price{
    font-weight: 700;
    padding-bottom: 8px;
}

.plan-price-subtitle{
    color: #697893;
    padding-bottom: 50px;
}

.plan-specific{
    display: flex;
    margin-bottom: 20px;
    font-size: 0.7rem;
}

.plan-specific i{
    margin-right: 10px;
    margin-top: 2px;
}

.section-plans button:not(.plan-azienda){
    background-color: #0061ff;
    color: #ffffff;
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    margin-bottom: 30px;
}

.middle-line{
    margin-top: 30px;
    margin-bottom: 35px;
    width: 20%;
    border-bottom: 1px solid #697893;
}

.fa-check{
    color: #0061ff;
}

.plan-azienda{
    background-color: #0061ff;
    color: #ffffff;
    padding: 10px 75px;
    margin-top: 30px;
    border: none;
    margin-bottom: 30px;
}

.plan-team-enterprice{
    border: 1px solid #697893;
    position: relative;
    padding-bottom: 30px;
}

.plan-team-enterprice>*:not(.plan-title){
    margin: 0 30px;
}

.plan-team-enterprice-flex{
    display: flex;
    justify-content: space-between;
}

.plan-team-enterprice-description{
    max-width: 70%;
}

.plan-team-enterprice-description>.plan-price{
    margin-bottom: 30px;
}

/*section partner dropbox style*/

.section-partner-dropbox{
    max-width: 900px;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
}

.section-partner-dropbox img{
    width: 60%;
    margin-right: 50px;
}

.section-partner-dropbox h3{
    font-size: 1.2rem;
    padding-top: 50px;
    padding-bottom: 30px;
}

.section-partner-dropbox button{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px 15px;
    margin-top: 30px;
}

/*section more options style*/

.section-more-operations{
    max-width: 900px;
    margin: 100px auto;
}


.container-section-more-operations{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.operation{
    width: calc(33.3% - 20px);
}

.operation img{
    width: 100%;
}

.operation h3{
    margin-bottom: 25px;
}

.section-more-operations .last-title{
    max-width: 60%;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*section designit style*/

.section-designit{
    display: flex;
}

.container-brands{
    display: flex;
    flex-wrap: wrap;  
    width: calc(100% / 3); 
}

.brand{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand>img{
    width: 50%;
    fill: #ffffff;
}

.designit-description{
    width: calc(100% / 3);
    padding: 30px;
    padding-bottom: 150px;
}

.logo1{
    background-color: #a2d39b;
    border: 10px solid #c2e2bd;
}

.logo2{
    background-color: #61082b;
}

.logo3{
    background-color: #0093ce;
}

.logo4{
    background-color: #ff1c1c;
}

.designit-description>img{
    width: 50%;
}

.logo5{
    background-color: #d5001f;
}

.logo6{
    background-color: #b4d0e7;
}

.logo7{
    background-color: #0d2481;
}

.logo8{
    background-color: #ffd830;
}

.designit-description .last-string{
    padding-top: 30px;
}

.take-dropbox-business{
    background-color: #b4d0e7;
}

.container-tdb{
    max-width: 900px;
    margin: 0 auto;
    padding: 75px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-tdb>div{
    max-width: 50%;
}

.container-tdb h2{
    color: #5e052a;

}

.container-tdb button{
    padding: 10px 25px;
    background-color: #ffffff;
    border: none;
}